{% extends 'common/detail.html' %}

{% block header %}
  {{ expert.name }}
  <br/>
  <a href="{{ expert.short_url }}" target="_blank">{{ expert.short_url }}</a>
{% endblock %}

{% block content %}

  {# headers #}
  <div class="headers text-center">
    <h2>Headers</h2>
    {{ expert.heading_text|safe }}
  </div>

  {# search-friends #}
  <div class="search-friends text-center">
    <h2>Search Friends</h2>
    <div class="form-wrapper">
      <form class="form form-horizontal" method="post" action="{{ request.url }}">
        {% csrf_token %}

        <div class="text-center">
          <input class="form-control" type="text" value="{{ term }}" name="term" placeholder="Search Friends Headers">
          <input type="submit" class="btn btn-primary" value="Submit"/>
        </div>
      </form>
    </div>
  </div>

  {# friends #}
  <div class="friends text-center">
    <h2>Friends</h2>
    <div class="row">
      {% for friend in expert.friends.all %}
        {% include 'expert/expert_card.html' with expert=friend %}
      {% endfor %}
    </div>
  </div>

  {# action links #}
  <div class="actions text-center">
    <h2>Actions</h2>
    <div class="text-center">
      <a href="{% url 'expert:expert-update' expert.id %}?next={% url 'expert:expert-detail' expert.id %}"
         class="card-link">Update</a>
      <a href="{% url 'expert:expert-delete' expert.id %}?next={% url 'expert:expert-list' %}"
         class="card-link">Delete</a>
    </div>
  </div>
{% endblock %}

{# return link #}
{% block content-footer %}
  <a class="btn btn-info" href="{% url 'expert:expert-list' %}">
    Go Back To Experts List</a>
{% endblock %}
