{% extends 'common/detail.html' %}

{% block header %}
  {{ expert.name }}
  <br/>
  <a href="{{ expert.short_url }}" target="_blank">{{ expert.short_url }}</a>
{% endblock %}

{% block content %}

  {# headers #}
  <div class="headers text-center">
    <h2>Headers</h2>
    {{ expert.heading_text|safe }}
  </div>

  {# friends #}
  <div class="friends text-center">
    <h2>Friends</h2>
    <div class="row">
      {% for friend in expert.friends.all %}
        {% include 'expert/expert_card.html' with expert=friend %}
      {% endfor %}
    </div>
  </div>


  <div class="text-center">
    {% url 'expert:expert-list' as next %}
    <a href="{% url 'expert:expert-detail' expert.id %}" class="card-link">Details</a>
    <a href="{% url 'expert:expert-update' expert.id %}?next={{ next }}"
       class="card-link">Update</a>
    <a href="{% url 'expert:expert-delete' expert.id %}?next={{ next }}"
       class="card-link">Delete</a>
  </div>
{% endblock %}

{# return link #}
{% block content-footer %}
  <a class="btn btn-info" href="{% url 'expert:expert-list' %}">
    Go Back To Experts List</a>
{% endblock %}
